@import '~@angular/material/theming';

@mixin navtabs-component-theme($hotelgo) {

  $primary: map-get($hotelgo, primary);
  $accent: map-get($hotelgo, accent);


  .navtabs-container {
    background-color: mat-color($hotelgo-primary, 500);
  }
}
