<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/signin" (click)="onToggleClose()"></a>
    <i class="material-icons">
      input
    </i>
    <span>SignIn</span>
    <a mat-list-item routerLink="/signup" (click)="onToggleClose()"></a>
    <mat-icon>account_circle</mat-icon>
    <span>SignUp</span>
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()"></a>
    <i class="material-icons">
      hotel
    </i>
    <span>Accomodation</span>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()"></a>
    <i class="material-icons">
      loyalty
    </i>
    <span>Offers</span>


  </mat-nav-list>
